# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# macOS
.DS_Store

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# AWS / creds
.aws/
*.pem

# Lambda build artifacts
*.zip

# Logs
*.log